$button-primary-color: material-color('blue-grey', '500');

.button {
	@include unselectable;
	background-color: material-color('blue-grey', '500');
	border-color: rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 3px 3px 5px;
	border-radius: 0 0 5px 5px;
	color: material-color('blue-grey', '50');
	vertical-align: bottom;
	
	transition: background 0.2s;
	
	&:hover {
		background-color: material-color('blue-grey', '600');
	}
	
	&:disabled {
		background-color: material-color('grey', '400');
		cursor: default;
	}
	
	&:active:not(:disabled) {
		border-bottom-width: 1px;
		border-top-width: 7px;
	}
	
	&--primary {
		background-color: material-color('orange', '400');
		color: material-color('orange', '50');
		&:hover:not(:disabled) {
			background-color: material-color('orange', '500');			
		}
	}
	
	&--main {
		background-color: material-color('orange', '400');
		color: material-color('orange', '50');
		font-family: $family-headings;
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.5;
		margin: 0.5rem 0;
		width: 100%;
		
		&:hover:not(:disabled) {
			background-color: material-color('orange', '500');			
		}
	}
}