.room__wrapper {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}

.room__donezo {
	display: flex;
	flex-direction: column;
	text-align: center;
	line-height: 3rem;
	max-width: 20rem;
}

.room {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
}

.room-lobby {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	
	&__header {
		display: flex;
		flex-direction: column;
		width: 100%;
		@include tablet {
			flex-direction: row;
		}
	}
	
	&__info {
		flex-grow: 1;
	}
	
	&__join {
		@include tablet {
			width: 18rem;
		}
	}
	
	&__players {
		display: flex;
		max-width: 70rem;
		margin-top: 1rem;
		width: 100%;
	}
	&__player {
		@include tablet {
			width: 25%;
			padding: 0.5rem;
		}
		@include desktop {
			width: 20%;
		}
	}
}


.room-invite {
	background-color: material-color('orange', '400');
	padding: 1rem;
		
	.title {
		color: material-color('grey', '50');
		margin-bottom: 0.5rem;
	}
	
	&__url {
		background-color: material-color('orange', '500');
		border: none;
		color: material-color('grey', '50');
		font-size: 0.7rem;
		margin-top: 0.5rem;
		padding: 0.5rem;
		width: 100%;
	}
}
