.header {
	background-color: material-color('blue-grey', '800');
	border-bottom: 1px solid $border;

	@include tablet {
		height: ($header-height + 1px);
	}
}

.header-brand {
	@extend .header-left;
	@include tablet {
		flex: 0 0 auto;
		margin-right: 0.5rem;
	}
}

.header-menu {
	@include mobile {
		.header-item {
			transition: background-color 0.1s;
			
			&:hover {
				background-color: material-color('blue-grey', '900');
			}
			&:active {
				background-color: material-color('blue-grey', '500');
			}
		}
	}
}

.header-toggle {
	height: 40px;
	position: absolute;
	transition: background-color 0.1s;
	width: 40px;
	@include tablet {
		display: none;
	}
}

.header-item.summoner .summoner__image {
	width: 30px;
	height: 30px;
	
	img {
		max-height: 30px;
	}
}

.hamburger {
	&:hover {
		background-color: material-color('blue-grey', '900');
	}
	&:active {
		background-color: material-color('blue-grey', '500');
	}
}
