// General
$primary: material-color('orange', '400');
$family-sans-serif: 'Roboto', sans-serif;
$family-headings: 'Lobster', cursive;

// Breakpoints
$tablet: 641px;

// Colors
$background: material-color('blue-grey', '800');
$body-background: material-color('blue-grey', '800');
$border: material-color('blue-grey', '600');
$border-hover: material-color('blue-grey', '500');

// Text
$text: material-color('grey', '100');
$text-light: material-color('grey', '200');
$text-strong: material-color('grey', '50');

// Links
$link: material-color('orange', '50');
$link-hover: #ffffff;
$link-active: material-color('orange', '200');

// Controls
$control-background: material-color('blue-grey', '700');
$control-active-background: material-color('blue-grey', '600');
$control-active-border: material-color('blue-grey', '400');

//@import '~bulma/bulma';
//*
@import '~bulma/sass/utilities/utilities';

@import '~bulma/sass/base/generic';
@import '~bulma/sass/base/classes';

@import '~bulma/sass/layout/header';
@import '~bulma/sass/layout/footer';

@import '~bulma/sass/elements/controls';
@import '~bulma/sass/elements/image';
@import '~bulma/sass/elements/notification';
@import '~bulma/sass/elements/progress';
@import '~bulma/sass/elements/title';
@import '~bulma/sass/elements/other';
//*/


// Overwrites
html {
	overflow-y: auto;
}

