@import 'layout/header';
@import 'layout/footer';

.layout__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}
.layout__content {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 1rem;
	position: relative;

	.layout__page {
		@include vue-mui-slide(up, $fade: true);
	}
}

.layout__centered-wrapper {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-around;
}
.layout__centered {
	width: 100%;
}

