@import '~sass-material-colors/sass/sass-material-colors';
@import 'bulma';
@import 'motion-ui/motion-ui';

@import 'layout';

@import 'elements/button';
@import 'elements/icons';
@import 'elements/title';

@import 'components/home';